<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outingday</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ngProgress.css" rel="stylesheet">
    <link href="../../assets/js/Angularjs/angular-material.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href="../../assets/css/modern-business.css" rel="stylesheet">
    <link href="../../assets/css/styles.css" rel="stylesheet">
	<link href="../../assets/css/detail.css" rel="stylesheet">
	<link href="../../assets/css/packagecss.css" rel="stylesheet">
    <link href="https://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   
    <link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="../../assets/css/customstyles.css" rel="stylesheet" type="text/css" />
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../../assets/js/Angularjs/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-messages.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-material.min.js"></script>
    <script src="../../assets/js/Angularjs/ngprogress.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-touch.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-modal-service.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-ellipsis.js"></script>
    <script src="../../assets/js/Angularjs/angular-hmac-sha512.js"></script>
    <script src="../../assets/js/Angularjs/angular-preload-image.min.js"></script>
    <script src="../../assets/js/Angularjs/map.js"></script>
    <script src="../../assets/js/Angularjs/moment.min.js"></script>
    <script src="../../assets/js/Angularjs/locales.min.js"></script>
    <script src="../../assets/js/Angularjs/humanize-duration.js"></script>
    <script src="../../assets/js/Angularjs/angular-timer.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.min.js"></script>
<script src="../../assets/js/Angularjs/readmore.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.js"></script>
 <script src="../../assets/js/Angularjs/angular-preload-image.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-route.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../../assets/js/Angularjs/ngStorage.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>

    <script src="../../assets/app.js"></script>
    <script src="../../assets/js/Angularjs/common.js"></script>
    <script src="../../app/Resorts/modalCtr.js?v=1"></script>
    <script src="../../app/Resorts/localAreaService.js?v=1"></script>
    <script src="../../app/Resorts/viewCitiesService.js?v=1"></script>
    <script src="../../app/Resorts/loginCtr.js?v=1"></script>
    <script src="../../app/Resorts/loginService.js?v=1"></script>
    <script src="../../app/Resorts/registerCtr.js?v=1"></script>
    <script src="../../app/Resorts/registerService.js?v=1"></script>
    <script src="../../app/Resorts/ResortCtr.js"></script>
    <script src="../../app/Resorts/ResortService.js"></script>
    <script src="../../app/Resorts/ResortdetailCtr.js"></script>
    <script src="../../app/Resorts/ResortdetailService.js"></script>
    <script src="../../app/Resorts/packageDetailsCtr.js"></script>
    <script src="../../app/Resorts/confirmationDetailsCtr.js"></script>
    <script src="../../app/Resorts/confirmationDetailsService.js"></script>
    <script src="../../app/Resorts/paymentService.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<script data-cfasync="false" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>



</head>
<script>
$(document).ready(function() {
    $("div.desc").hide();
    $("input[name$='cars']").click(function() {
        var test = $(this).val();
        $("div.desc").hide();
        $("#" + test).show();
    });
});
</script>
<script type='text/javascript'>
        
        $(document).ready(function() {
        
			$('.carousel[data-type="multi"] .item').each(function(){
			var next = $(this).next();
			
			if (!next.length) {
			next = $(this).siblings(':first');
			}
			next.children(':first-child').clone().appendTo($(this));
			
			for (var i=0;i<2;i++) {
			next=next.next();
			if (!next.length) {
			next = $(this).siblings(':first');
			}
			
			next.children(':first-child').clone().appendTo($(this));
			}
			});
			
			//for Drop Down Begins
			$('ul.nav li.dropdown').hover(function() {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
			}, function() {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
			});
        	//for Drop Down Ends
        });
        
        </script>
<style>
.drop {
             position: relative;
         }
         .drop ul {
             position: absolute;
             left: 0;
             top: 3em;
             -webkit-transition: all 0.3s ease;
             transition: all 0.3s ease;
             -webkit-transform: scale(0);
             transform: scale(0);
             -webkit-transform-origin: 0 0;
             transform-origin: 0 0;
             box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
             background: #ebebeb;
         }
         .drop ul li {
             display: block;
             width: 100%;
         }
         .drop ul li a {
             width: 100%;
             padding: 1em 18px;
             display: inline-block;
             white-space: pre;
             box-sizing: border-box;
         }
         .drop ul li a:hover {
             background: #ebebeb;
         }
         .drop:hover ul {
             -webkit-transform: scale(1);
             transform: scale(1);
         }




.nav>li>a {
    position: relative;
    display: block;
    padding: 0px !important;
	color:#fff !important;
	font-size:13px !important;
}
.navbar-inverse .navbar-nav>li>a
{ color:#fff !important;}

.navbar-inverse .navbar-nav>li>a:hover
{ color:#fff !important;}

.navbar-right .dropdown-menu {
    right: auto;
    left: auto;
	border-radius:6px !important;
}

navbar-nav>li {
    float: left !important;
}
.navbar-right {
    float: right!important;
    margin-right: 15px !important;
}

.container_img
{
    height:220px !important;
    width:100% !important;
    position:relative !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
    font-family: Lato !important;
}
</style>

<body style="background-color:#f3f3f3;" ng-controller="confirmationDetailCtr" class="ng-cloak">

   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    		<div class="navbar-top">
        	<div class="container" style="padding-top:20px; padding-bottom:6px;" >
            	<!-- <div class="row "> -->
                    <!-- <div class="col-lg-6 col-md-6 col-sm-4 col-xs-3"> -->
                        <!-- <span style="color:white;font-size:15px;"data-ng-bind="regionModel()" ng-click="loadEditForm()"></span>&nbsp; -->
                        <!-- <span><i class="fa fa-map-marker" aria-hidden="true" style="color:#FEB824;font-size:15px;" ng-click="loadEditForm()" ></i></span> -->
                    <!-- </div> -->
                
                    <!-- <div class="col-lg-6 col-md-6 col-sm-8 col-xs-9"> -->
                        <!-- <ul class="nav navbar-nav navbar-right" > -->
                           <!-- <!-- <li><a href="#">Link</a></li>-->
                            <!-- <li class="dropdown" style="padding-right:4px;"> -->
                                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">My Account <b class="caret"></b></a> -->
                                
								   
								<!-- <ul class="dropdown-menu" style="width:180px;margin-top:10px;"> -->
								   <!-- <div class="row" style="margin-top:-10%;"><a href="#"><span style="padding-left:50px;"><img  src="../../assets/images/top_arrow.png" alt="" height="14px" width="14px" ></span></a></div> -->
                                 
                                    <!-- <li> -->

                                        <!-- <div style="width:100%;padding:5px;float:left;"> -->
                                            <!-- <div style="width:40%;float:left;"><img src="../../assets/images/Login_Icon.png"  class="img-responsive"></div> -->
                                            <!-- <div style="width:60%;float:left;"> -->
                                                <!-- <div class="row"><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span> My Booking</a></div> -->
                                                <!-- <div class="row"><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span> My Cash</a></div> -->
                                                <!-- <div class="row" ng-if="showLogOutBtn"><a href="#"><span class="glyphicon glyphicon-user" style="font-size:11px;padding-right:5px;color:#313496;" ></span><span data-ng-bind="firstName" style="color:#313496;"></span></span></a></div> -->
                                                <!-- <div class="row"  ng-if="showLogOutBtn" ><a href="#"><span class="glyphicon glyphicon-off" style="font-size:11px;padding-right:5px;color:#feb824;"></span><span ng-click="logOutCall()" style="color:#feb824;" >Logout</span></a></div> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                        <!-- <div style="width:100%;padding:5px;float:left;" ng-if="showLoginBtn"> -->
                                            <!-- <div style="width:48%;float:left;" align="center"> -->
                                                <!-- <ul class="list-inline text-center od-signInSignUp"> -->
                                                    <!-- <li><a href="#" ng-click="loginPage()" class="btn-md btn" style="text-transform:none !important;">Login</a></li> -->
                                                <!-- </ul> -->
                                            <!-- </div> -->
                                            <!-- <div style="width:2%;float:left;"></div> -->
                                            <!-- <div style="width:48%;float:left;" align="center"> -->
                                                <!-- <ul class="list-inline text-center od-signInSignUp"> -->
                                                    <!-- <li><a href="#" ng-click="SignUpPage()" class="btn-md btn" style="text-transform:none !important;">Sign Up</a></li> -->
                                                <!-- </ul> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    <!-- </li> -->
                                <!-- </ul> -->
                            <!-- </li> -->
                            
                            <!-- <li class="dropdown" style="padding-right:4px;"> -->
                            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;"><span style="color:#feb824; padding:0 8px 0 0px;">|</span>Support <b class="caret"></b></a> -->
                                <!-- <ul class="dropdown-menu" style="margin-top:10px;"> -->
								<!-- <div class="row" style="margin-top:-10%;"><a href="#"><span style="padding-left:50px;"><img  src="../../assets/images/top_arrow.png" alt="" height="14px" width="14px" ></span></a></div> -->
                                 
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Contact Us</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Complete Booking</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Make a Payment</a></li> -->
                                    <!-- <!-- -->
                                    <!-- <li class="divider"></li> -->
                                    <!-- <li><a href="#">Separated link</a></li> -->
                                    <!-- --> 
                                <!-- </ul> -->
                            <!-- </li> -->
                            
                            <!-- <li class="dropdown" > -->
                            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;"><span style="color:#feb824; padding:0 8px 0 0px;">|</span>Corporate Deals <b class="caret"></b></a> -->
                                <!-- <ul class="dropdown-menu" style="width:180px;left:30px;margin-top:10px;"> -->
                                   <!-- <div class="row" style="margin-top:-10%;"><a href="#"><span style="padding-left:50px;"><img  src="../../assets/images/top_arrow.png" alt="" height="14px" width="14px" ></span></a></div> -->
                                  
									
									<!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Action</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Another action</a></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Something else here</a></li> -->
                                    <!-- <li class="divider"></li> -->
                                    <!-- <li><a href="#"><span class="glyphicon glyphicon-play" style="font-size:11px;padding-right:5px;"></span>Separated link</a></li> -->
                                <!-- </ul> -->
                            <!-- </li> -->
                        <!-- </ul> -->
               	 	<!-- </div> -->
            	<!-- </div> -->
            </div>
        </div>
        
        <div class="container" style="height:60px; ">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="../../index.html">Outing<span>Day</span></a>
				<a class="navbar-brand" style="font-size:14px; color:#979797 !important; font-family:Lato; ">Package Details</a>
				<a class="navbar-brand" ><i class="fa fa-caret-right" aria-hidden="true" style="font-size:26px;color:#979797;line-height:inherit;"></i></a>
				<a class="navbar-brand" style="font-size:16px; color:#ffffff !important; font-family:Lato; padding:15px 0px; margin:0px 0px;">Confirmation Details</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border:none;">
            	<div class="row" align="center" style=" margin-top:10px;background-color:#313496; ">
                    <div class="col-lg-1 col-sm-hidden col-md-hidden col-xs-hidden" ></div>
                    <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 " style="" align="center">
                        <div class="input-group" align="center">
                            <span class="input-group-btn" align="center">
                               
                            </span>
                           
                        </div>
                    </div>
                    <!-- <div class="col-lg-2  col-sm-2 col-md-2 col-xs-12" style="color:#fff;margin-top:8px; text-align:center;padding:0;font-size:10pt;">SignUp / SignIn</div> -->
                </div>
            </div>
            
        </div>
        
    </nav>

    <h3 style="display: none;"><timer/></h3>

    <header><div style="padding-top:1%;"></div></header>
	<div class="container">
        <div class="row" style="margin-top:30px;">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="result_title">Confirmation Details</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12 whitebg_margin" style="background-color:white;border:1px solid #d5d5d5;"> 
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="" >
                    	<div class="row" >
                            <div class="col-md-3" align="center">
                                <img src="http://outingadmin.littlepandits.com/images/ResortsImages/{{resListPhoto}}" alt="thumbnail" onError="this.onerror=null;this.src='../../assets/images/default-thumb.gif';" class="img-rounded" height="150" width="150" align="left">
                            </div>
                            <div class="col-md-9">
                            	<h4 class="result_title">Travel Confirmation</h4>
								<h6 class="detailtitle">{{resListName}}</h6>
                                
									<hm-read-more
		hm-text="{{ resListDes }}" 
		hm-limit="100" 
		hm-more-text="Show more" 
		hm-less-text="Show less"
		hm-dots-class="dots"
        hm-link-class="links">
</hm-read-more>
                            </div>
                        </div>
                    
                    	
                        <div>
						&nbsp;
						</div>
                        <h4 class="detailtitle">Package Information</h4>
                         
                          <div class="card">
                            <div class="card-block cardcss">
                                <div class="row" ng-repeat="facility in FacilityNameList">
                                    <div class="col-md-4" style="padding-left:2%;">
                                        <h6 class="packagesubtext" ><span style="">&nbsp;</span>{{facility.itemName}} </h6>
                                       
									</div>

                                    <div class="col-md-4" align="center">
                                        <h6 class="packagesubtext">{{facility.noOfItems}}  x  {{facility.orgPrice}}</h6>
                                    </div>

                                    <div class="col-md-4" align="right">
                                        <h6 class="packagesubtext">{{facility.totalPrice | INR}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                           	
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext" >Room</h6>
                                	
								</div>
                            </div>
							<div class="card">
                                <div class="card-block cardcss">
                                	
								<div class="row">
								<div class="col-sm-6">
								<h6 class="packagetitletext">Price Breakup</h6>
								<h6 class="packagesubtext">One Room</h6>
								</div>
								<div class="col-sm-6">
								<h6 class="subcost">{{bookParkcurrentPrice | INR}}</h6>
								</div>
								</div>
								
								</div>
                            </div>
                            
                          
                            <div class="card">
                                <div class="card-block cardcss">
								 
                                	
									
								
								
								 <div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        	<h6 class="packagetitletext" ><strong>Check In Date</strong></h6>
                            <h6 class="packagesubtext" >{{checkIn}}</h6>
                           
                        </div>
                        
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        	<h6 class="packagetitletext" ><strong>Check Out Date</strong></h6>
                            <h6 class="packagesubtext" >{{checkOut}}</h6>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
								
                                </div>
								
								
                            </div>
                            
                          
                            
                            
                           
                               <div class="card">
                                <div class="card-block cardcss">
                                	
								 <div class="row">
								<div class="col-sm-6">
								<h6 class="packagetitletext">Coupon</h6>
								
								</div>
								<div class="col-sm-6">
								<h6 class="subcost">0.00</h6>
								</div>
								</div>
								
								</div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-block cardcss">
                                	
								<div class="row">
								<div class="col-sm-6">
								<h6 class="packagetitletext">Promo Discount</h6>
								
								</div>
								<div class="col-sm-6">
								<h6 class="subcost">0.00</h6>
								</div>
								</div>
								
								
								</div>
                            </div>
                            
                            <div class="card">
                            	<div class="card-block cardcss">
                            		
								<div class="row">
								<div class="col-sm-6">
								<h6 class="packagetitletext">Service Tax</h6>
								
								</div>
								<div class="col-sm-6">
								<h6 class="subcost">0.00</h6>
								</div>
								</div>
								
								</div>
                        	</div>
                            
                           
                       

                        <div class="card" >
                          		<div class="card-block cardcss" >
                            	
							 <div class="row">
								<div class="col-sm-6">
								<h6 class="packagetitletext">Total</h6>
								
								
								</div>
								<div class="col-sm-6">
								<h6 class="totalcost">{{sum | INR}}</h6>
								</div>
								</div>
							
							</div>
                           
                           
                            </div>
                            
                             <div class="card" >
                          		<div class="card-block cardcss" >
                            	
							 <div class="row" id="myRadioGroup">
							 
								<div class="col-sm-6">
								<h6 class="packagetitletext">Payment</h6>
								
								<h6 class="packagetitletext"><div class="radio packagetitletext">
								  <label class="packagetitletext"><input type="radio" name="cars" ng-model="content"  value="1">PayUmoney</label>
								</div>
								</h6>
								
								
								</div>
								<div class="col-sm-6">
								<h6 class="packagetitletext" style="color:transparent !important;">Payment</h6>
								<h6 class="packagetitletext"><div class="radio packagetitletext">
								  <label class="packagetitletext"><input type="radio" name="cars" ng-model="content"  value="2">Cash on Delivery</label>
								</div>
								</h6>
								</div>
								</div>
							
							</div>
                            
							
                           
                            </div>
                        
                        <div class="row" align="center" style="margin:10px 30px 0 30px" id="1" class="desc" ng-show="content == '1'">
                            <form action="https://secure.payu.in/_payment" method="post">

                                <input type="text" ng-model="checkout.txnid"  name="txnid" style="display: none;"/>

                                <input type="text" ng-model="checkout.key"  name="key" style="display: none;"/>

                                <input type="text" ng-model="checkout.amount"  name="amount" style="display: none;"/>

                                <input type="text" ng-model="checkout.productinfo"  name="productinfo" style="display: none;"/>

                                <input type="text" ng-model="checkout.firstname" name="firstname" style="display: none;"/>

                                <input type="text" ng-model="checkout.email"  name="email" style="display: none;"/>

                                <input type="text" ng-model="checkout.phone"  name="phone" style="display: none;"/>

                                <input type="text" ng-model="checkout.hash" name="hash" style="display: none;"/>

                                <input type="text" ng-model="checkout.surl"  name="surl" style="display: none;"/>

                                <input type="text" ng-model="checkout.furl"  name="furl" style="display: none;"/>

                                 <input type="text" ng-model="checkout.service_provider"  name="service_provider" style="display: none;"/>
                                <button  type="submit" value="submit" class="btn btn-suc btn-md btn-background"  ng-click="makePaymentCall()">Payment</button>

                            </form>
                         </div>
                        <div ng-show="content == '2'" align="center" style="margin:10px 30px 0 30px">
                        <button  type="button"  class="btn btn-suc btn-md btn-background"  ng-click="ConfirmCall()">Confirm</button>
                            <h6 class="packagetitletext" data-ng-bind="codSuccess" align="center" style="color: green !important;"></h6>
                        </div>


                    </div>
            	</div>
                 <div class="row">&nbsp;</div>
             </div>

            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 whitebg_margin" style="background-color:white;float:right;border:1px solid #d5d5d5;">
            	<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "><h1 class="result_title">Customer Details </h1></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 result_title ">
                    	<h6 class="detailtitle7">Name:<span class="detailtext7"> {{mrs}}. {{FirstName}} {{LastName}}</span></h6>
                        <h6 class="detailtitle7">Email:<span class="detailtext7">{{Email}}</span></h6>
                        <h6 class="detailtitle7">Phone Number :<span class="detailtext7">{{PhoneNumber}}</span></h6>

                    </div>
                </div>
            </div>

       </div>

        <div class="row">&nbsp;</div>
       
	</div>
	 
	 
 <div class="container-fluid">   
   
        <div class="row" style="background-color:#0c0e1b; ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<div class="row social_foot">
                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 certified_logo">Certified Logos</div>
                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right;" >
                   <ul class="list-inline pull-right">
            <li><a  class="social" href="https://www.facebook.com/outingday/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li> <a  class="social"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a  class="social"><i class="fa fa-instagram"></i></a></li>
            <li><a  class="social"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>                  </div>
                </div>             
             	<div class="row" style="padding:30px;">
                	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" align="center">
                    	<img  src="../../assets/images/Logo_Footer.png" alt="" style="width:30%;"><br><br>
							<span style="color:#fff;font-size:14px;">© 2016 Outingday Pvt. Ltd.</span> 
							                     
					</div>	
                    
                        <span class="fot-company">Powered by Castus</span> 
                            
							
							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" style="color:#fff;">
                                <p class="h4"><a href="../../app/Resorts/outingday.html" style="color:white;font-size:14px;">Outing Day</a></p>
                                <ul class="footerlist">
                                    <li ><a href="../../app/Resorts/carrer.html" class="footerlinks" >Career</a></li>
                                    <li><a href="../../app/Resorts/about.html" class="footerlinks" >About Us</a></li>
                                    <li><a href="../../app/Resorts/cantact.html" class="footerlinks">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" style="color:#fff;font-size:14px;">
                                <p class="h4">Country</p>
                                <ul class="footerlist">
                                    <li ><a class="footerlinks">India</a></li>
                                   
								</ul>
                            
                        </div>
                    </div>	
         </div>
        </div>
       </div>

    <script src="../../assets/js/jquery.js"></script>

   
    <script src="../../assets/js/bootstrap.min.js"></script>

   
    <script>
    $('.carousel').carousel({
        interval: 5000 
    })
    </script>

</body>

</html>
