
<html>
<head>
    <script>
        /*var hash = '<?php echo $hash ?>';
        function submitPayuForm() {
            if(hash == '') {
                return;
            }
            var payuForm = document.forms.payuForm;
            payuForm.submit();
        }*/
    </script>
    <script src="../../assets/js/Angularjs/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-messages.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-material.min.js"></script>
    <script src="../../assets/js/Angularjs/ngprogress.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-touch.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-modal-service.min.js"></script>
    <script src="../../assets/js/Angularjs/ng-text-truncate.js"></script>

    <script src="../../assets/js/Angularjs/angular-route.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../../assets/js/Angularjs/ngStorage.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>

    <script src="../../assets/app.js"></script>
    <script src="../../assets/js/Angularjs/common.js"></script>
    <script src="../../app/Resorts/ResortCtr.js"></script>
    <script src="../../app/Resorts/ResortService.js"></script>
    <script src="../../app/Resorts/ResortdetailCtr.js"></script>
    <script src="../../app/Resorts/ResortdetailService.js"></script>
    <script src="../../app/Resorts/packageDetailsCtr.js"></script>
    <script src="../../app/Resorts/confirmationDetailsCtr.js"></script>
    <script src="../../app/Resorts/confirmationDetailsService.js"></script>
</head>
<body >
<h2>PayU Form</h2>
<br/>


<span style="color:red">Please fill all mandatory fields.</span>
<br/>
<br/>
<?php } ?>
<form  method="post" name="payuForm" ng-app="MyApp" ng-controller="PaymentGatWayCtr">
    <input type="hidden" name="key" value="" />
    <input type="hidden" name="hash" value=""/>
    <input type="hidden" name="txnid" value="" />
    <table>
        <tr>
            <td><b>Mandatory Parameters</b></td>
        </tr>
        <tr>
            <td>Amount: </td>
            <td><input name="amount" value="" ng-model="amtVal"/></td>
            <td>First Name: </td>
            <td><input name="firstname" id="firstname" value="" ng-model="FirstNameVal" /></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input name="email" id="email" value="" ng-model="EmailVal"/></td>
            <td>Phone: </td>
            <td><input name="phone" value="" ng-model="PhoneVal"/></td>
        </tr>
        <tr>
            <td>Product Info: </td>
            <td colspan="3"><textarea name="productinfo"></textarea></td>
        </tr>
        <tr>
            <td>Success URI: </td>
            <td colspan="3"><input name="surl" value="<?php echo (empty($posted['surl'])) ? '' : $posted['surl'] ?>" size="64" /></td>
        </tr>
        <tr>
            <td>Failure URI: </td>
            <td colspan="3"><input name="furl" value="<?php echo (empty($posted['furl'])) ? '' : $posted['furl'] ?>" size="64" /></td>
        </tr>

        <tr>
            <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
        </tr>

        <tr>
            <td><b>Optional Parameters</b></td>
        </tr>

        <tr>

            <td colspan="4"><input type="submit" value="Submit" /></td>

        </tr>
    </table>
</form>
</body>
</html>